<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIL.Pa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SIL.Pa.Properties.Settings>
            <setting name="KeepTempProjectInventoryFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastProjectLoaded" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInterfaceLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowMsgWhenGatheringFwInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimumViewWindowSize" serializeAs="String">
                <value>550, 450</value>
            </setting>
            <setting name="UncertainGroupAbsentPhoneChars" serializeAs="String">
                <value />
            </setting>
            <setting name="UncertainGroupAbsentPhoneChar" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowSplashScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsonantSymbol" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="VowelSymbol" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="WordBreakCharacters" serializeAs="String">
                <value />
            </setting>
            <setting name="MaximumAllowedRecentlyUsedQueries" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RecordViewFieldLabelColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="WordListGridColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ConvertPatternsWithTranscriptionChanges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastViewShowing" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipAdditionalProcessingWhenPhonesAreLoaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepTempDistributionChartExportFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OFD_LastFileTypeChosen_DataSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OFD_LastFileTypeChosen_DataSourceXslt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenHtmlDistChartAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenHtmlDataCorpusAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTempDataCorpusExportFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenHtmlSearchResultAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTempSearchResultExportFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTempProjectCssXhtmlFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTempCVChartBuilderFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsonantChartGridColor" serializeAs="String">
                <value>225, 225, 225</value>
            </setting>
            <setting name="VowelChartGridColor" serializeAs="String">
                <value>225, 225, 225</value>
            </setting>
            <setting name="ConsonantChartColHdrHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConsonantChartRowHdrWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VowelChartColHdrHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VowelChartRowHdrWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeepTempCVChartExportFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenHtmlCVChartAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TidyUpTempExportFilesAfterSaving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenWordXmlDataCorpusAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppThatOpensHtml" serializeAs="String">
                <value />
            </setting>
            <setting name="AppThatOpensWordXml" serializeAs="String">
                <value>Winword.exe</value>
            </setting>
            <setting name="OpenWordXmlSearchResultAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenWordXmlCVChartAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenWordXmlDistChartAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EthnologueIndexPage" serializeAs="String">
                <value>http://www.ethnologue.com/language_index.asp</value>
            </setting>
            <setting name="EthnologueFirstLetterOfNameSearch" serializeAs="String">
                <value>http://www.ethnologue.com/language_index.asp?letter={0}</value>
            </setting>
            <setting name="EthnologueCodeSearch" serializeAs="String">
                <value>http://www.ethnologue.com/show_language.asp?code={0}</value>
            </setting>
            <setting name="TempProcessingFilesFolder" serializeAs="String">
                <value>TemporaryProcessingFiles</value>
            </setting>
            <setting name="HtmlVowelChartVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HtmlConsonantChartVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefineClassDlgSplit1Loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefineClassDlgSplit2Loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefineClassDlgSplit3Loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClassesDlgClassListViewSortOrder" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ClassesDlgClassListViewSortedColumn" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ClassesDlgClassListViewColWidth0" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ClassesDlgClassListViewColWidth1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ClassesDlgClassListViewColWidth2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="XYChartVwClassListViewColWidth0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchVwClassListViewColWidth0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FeaturesDlgSplitLoc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FeaturesDlgGridExtraRowHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AmbiguousSequencesDlgGridExtraRowHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TranscriptionChangesDlgGridExtraRowHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FwProjectsDlgSplitLoc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FindDlgFindWhat" serializeAs="String">
                <value />
            </setting>
            <setting name="FindDlgMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindDlgMatchEntireWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindDlgStartsWith" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindDlgRegEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindDlgReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindDlgSearchCollapsedGroups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFolderForOpenProjectDlg" serializeAs="String">
                <value />
            </setting>
            <setting name="FiltersDlgSplitLoc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UndefinedPhoneticCharactersDlgSplitLoc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SFDataSourcePropertiesDlgSplitLoc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReloadProjectsWhenAppBecomesActivate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaDownloadLink" serializeAs="String">
                <value>http://downloads.sil.org/Speech%20Analyzer/Corporate%20Release/3.0.1/Speech%20Analyzer%203.0.1%20only.exe</value>
            </setting>
            <setting name="SaWebsiteLink" serializeAs="String">
                <value>www.sil.org/computing/sa</value>
            </setting>
            <setting name="OpenXLingPaperDataCorpusAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppThatOpensXLingPaperXML" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenXLingPaperSearchResultAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenXLingPaperCVChartAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenXLingPaperDistChartAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalizeDlgSplitterPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalizeDlgBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="GridRowSelectionBackColor" serializeAs="String">
                <value>153, 187, 210</value>
            </setting>
            <setting name="GridRowSelectionForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WordListSelectedUnFocusedRowBackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="WordListSelectedUnFocusedRowForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GridCellSelectionBackColor" serializeAs="String">
                <value>173, 211, 237</value>
            </setting>
            <setting name="GridCellSelectionForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="UncertainPhoneForeColor" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="QuerySearchItemForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="QuerySearchItemBackColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="DistChartZeroBackColor" serializeAs="String">
                <value>PaleGoldenrod</value>
            </setting>
            <setting name="DistChartZeroForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DistChartNonZeroBackColor" serializeAs="String">
                <value>LightSteelBlue</value>
            </setting>
            <setting name="DistChartNonZeroForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DistChartVwSplitRatio1" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="DistChartVwSplitRatio2" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="DistChartVwSplitRatio3" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="DistChartVwSplitRatio4" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="DistChartVwSidePanelDocked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DistChartVwrRcordPaneVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchVwSplitRatio1" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="SearchVwSplitRatio2" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="SearchVwSplitRatio3" serializeAs="String">
                <value>0.33</value>
            </setting>
            <setting name="SearchVwSplitRatio4" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SearchVwSidePanelDocked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchVwRecordPaneVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchVwRecentPatternsListFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SearchVwSavedPatternsListFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DataCorpusVwPlaybackSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DataCorpusVwRecordPaneVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataCorpusVwSplitRatio" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="CollapseWordListsOnGrouping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsonantChartVwSplitRatio" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="ConsonantChartVwHistogramPaneVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VowelChartVwSplitRatio" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="VowelChartVwHistogramPaneVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HistogramHashMarkGap" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="HistogramPhoneLabelWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="HistogramExtraPhoneLabelHeight" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HistogramBarWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HistogramPhoneLabelFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="WordListDrawFocusRectangle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordListSrchResultWidthOnWordBoundaryMatch" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WordListChangeSelectionOnFocusLoss" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordListEditSourceOnDoublClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordListVerticalRowPadding" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WordListEditSourceOnEnterKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTFExportLeftMargin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RTFExportTopMargin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RTFExportRightMargin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RTFExportBottomMargin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RTFExportPaperSize" serializeAs="String">
                <value>letter</value>
            </setting>
            <setting name="RTFExportGapBetweenColumns" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="RTFExportTryLandscapeWhenDataTooWide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTFExportUseCustomPaperWidth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTFExportMinimumColumnWidth" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="RTFExportSpaceBeforeGroupHeading" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="RTFExportBorderUnderGroupHeading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTFExportOptionToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTFExportOptionToFileAndOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTFExportOptionRTFEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="RTFExportOptionToClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTFExportOptionToTable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTFExportOptionTabDelimited" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordListGroupingPhonesToMatchBefore" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WordListGroupingPhonesToMatchAfter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WordListGroupingPhonesToMatchForCIEBefore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WordListGroupingPhonesToMatchForCIEAfter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CVChartExtraPopupMonogramHeight" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="CVChartExtraPopupUncertainListHeight" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CVChartsCellHeight" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="CVChartsExtraCellWidth" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AssumeCVKeysArePhoneClassWhileTyping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PhonesInFeaturesListExtraPhoneHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RTFRecordViewUseExactLineSpacing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTFRecordViewPercentageOfExactLineHeightToUse"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SearchOptionsDropDownPickerLabelFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchOptionsDropDownExtraPickerLabelWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchOptionsDropDownExtraPickerLabelHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WordListCollapseOnGrouping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordListCollapseOnMinimalPairs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchResultTabActiveIninactiveGroup1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SearchResultTabActiveIninactiveGroup2" serializeAs="String">
                <value>215, 209, 196</value>
            </setting>
            <setting name="SearchResultTabActiveIninactiveGroupForeColor"
                serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SearchResultTabActiveBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SearchResultTabActiveForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SearchResultTabInactiveBackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="SearchResultTabInactiveForeColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="SearchVwExtraSearchTabHeight" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DistChartVwSidePanelWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchVwSidePanelWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchVwPlaybackSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DistChartVwPlaybackSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DefineClassDlgShowAllConsonantsInViewer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefineClassDlgUseCompactConsonantView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefineClassDlgShowAllVowelsInViewer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefineClassDlgUseCompactVowelView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefineClassDlgShowAllOthersInViewer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefineClassDlgUseCompactOtherView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridSelectedRowFocusedRectColor" serializeAs="String">
                <value>101, 130, 152</value>
            </setting>
            <setting name="GradientPanelTopColor" serializeAs="String">
                <value>101, 130, 152</value>
            </setting>
            <setting name="GradientPanelBottomColor" serializeAs="String">
                <value>56, 56, 84</value>
            </setting>
            <setting name="GradientPanelTextColor" serializeAs="String">
                <value>White</value>
            </setting>
        </SIL.Pa.Properties.Settings>
    </userSettings>
</configuration>