<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIL.Pa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIL.Pa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SIL.Pa.Properties.Settings>
            <setting name="KeepTempProjectInventoryFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMsgWhenGatheringFwInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimumViewWindowSize" serializeAs="String">
                <value>550, 450</value>
            </setting>
            <setting name="UncertainGroupAbsentPhoneChars" serializeAs="String">
                <value />
            </setting>
            <setting name="UncertainGroupAbsentPhoneChar" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsonantSymbol" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="VowelSymbol" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="WordBreakCharacters" serializeAs="String">
                <value />
            </setting>
            <setting name="MaximumAllowedRecentlyUsedQueries" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RecordViewFieldLabelColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="WordListGridColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ConvertPatternsWithTranscriptionChanges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipAdditionalProcessingWhenPhonesAreLoaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepTempDistributionChartExportFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTempDataCorpusExportFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTempSearchResultExportFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTempProjectCssXhtmlFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTempCVChartBuilderFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsonantChartGridColor" serializeAs="String">
                <value>225, 225, 225</value>
            </setting>
            <setting name="VowelChartGridColor" serializeAs="String">
                <value>225, 225, 225</value>
            </setting>
            <setting name="KeepTempCVChartExportFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TidyUpTempExportFilesAfterSaving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppThatOpensHtml" serializeAs="String">
                <value />
            </setting>
            <setting name="AppThatOpensWordXml" serializeAs="String">
                <value />
            </setting>
            <setting name="EthnologueIndexPage" serializeAs="String">
                <value>http://www.ethnologue.com/language_index.asp</value>
            </setting>
            <setting name="EthnologueFirstLetterOfNameSearch" serializeAs="String">
                <value>http://www.ethnologue.com/language_index.asp?letter={0}</value>
            </setting>
            <setting name="EthnologueCodeSearch" serializeAs="String">
                <value>http://www.ethnologue.com/show_language.asp?code={0}</value>
            </setting>
            <setting name="TempProcessingFilesFolder" serializeAs="String">
                <value>TemporaryProcessingFiles</value>
            </setting>
            <setting name="FeaturesDlgGridExtraRowHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AmbiguousSequencesDlgGridExtraRowHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TranscriptionChangesDlgGridExtraRowHeight" serializeAs="String">
                <value>3</value>
            </setting>
        </SIL.Pa.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SIL.Pa.Properties.Settings>
            <setting name="LastProjectLoaded" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInterfaceLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowSplashScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastViewShowing" serializeAs="String">
                <value />
            </setting>
            <setting name="OFD_LastFileTypeChosen_DataSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OFD_LastFileTypeChosen_DataSourceXslt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenHtmlDistChartAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenHtmlDataCorpusAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenHtmlSearchResultAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsonantChartColHdrHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConsonantChartRowHdrWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VowelChartColHdrHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VowelChartRowHdrWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenHtmlCVChartAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppToOpenWordXml" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenWordXmlDataCorpusAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenWordXmlSearchResultAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenWordXmlCVChartAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenWordXmlDistChartAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HtmlVowelChartVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HtmlConsonantChartVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefineClassDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="ClassesDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="DefineClassDlgSplit1Loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefineClassDlgSplit2Loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefineClassDlgSplit3Loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClassesDlgClassListViewSortOrder" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ClassesDlgClassListViewSortedColumn" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ClassesDlgClassListViewColWidth0" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ClassesDlgClassListViewColWidth1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ClassesDlgClassListViewColWidth2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="BackupDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="RestoreDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="XYChartVwClassListViewColWidth0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchVwClassListViewColWidth0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AmbiguousSequencesDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="CustomFieldsDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="FeaturesDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="TranscriptionChangesDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="ProjectSettingsDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="SaveSearchQuerDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="SaveDistChartDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="SFDataSourcePropertiesDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="FindDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="UndefinedCharactersInClassDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="UndefinedPhoneticCharactersDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="OptionsDialogBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="FwDataSourcePropertiesDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="FwProjectsDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="FeaturesDlgSplitLoc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefineFiltersDlgBounds" serializeAs="String">
                <value>0, 0, 0, -1</value>
            </setting>
            <setting name="FwProjectsDlgSplitLoc" serializeAs="String">
                <value>0</value>
            </setting>
        </SIL.Pa.Properties.Settings>
    </userSettings>
</configuration>