Output/*
*/bin/*
*/obj/*
src/DisablePASplashScreen/obj/*
src/Pa/obj/*
src/PATests/obj/*
src/PaToFdoBrowser/obj/*
src/SilTools/obj/*
*\.suo
*\.user
*\.cache
*\.resources
*FileListAbsolute.txt
*PaToFdoInterfaces.dll
*PaToFdoInterfaces.pdb
*SilTools.dll
*SilTools.pdb
*SilTools.xml