Output/*
*/bin/*
*/obj/*
src/*/obj/*
src/*/bin/*
Lib/SIL.*
Lib/L10N*
Lib/Newton*
Lib/Spart*
Release/*
packages/*
*/NuGet.exe
*\.suo
*\.user
*\.cache
*\.resources
*FileListAbsolute.txt
*PaToFdoInterfaces.dll
*PaToFdoInterfaces.pdb
*SilTools.dll
*SilTools.pdb
*SilTools.xml
TestResult.xml
PaTests.VisualState.xml
PaPortable*
\.vs*
DownloadInfo*