/* phonology_IE7.css 2011-07-01 */
/* Generic formatting for XHTML files exported from Phonology Assistant. */
/* Here are the exceptions for Internet Explorer 7. */

/* Sometimes needed for :hover formatting and click across full width. */
/* Not needed in pages containing CV charts, perhaps because they are float? */

div.section h1,
div.section h2,
div.section h3,
div.section h4
{
width: 100%;
}

/* Margins ------------------------------------------------------------------ */

/* Because IE7 collapses margin-bottom of table contained in first div. */

div.CV_features + div.CV_features
{
margin-top: 1em; /* 16px */
}

/* Borders ------------------------------------------------------------------ */

/* Because IE7 does not support border-top for tbody. */

table.list tr.heading th
{
border-top-style: solid;
border-color: #dddddd; /* lighter border */
}

table.features tbody tr:first-child td.name
{
border-top-style: solid;
border-color: #999999; /* border */
}

/* When environment tabs precede a consonant or vowel chart, */
/* make up for lack of borders for tbody and colgroup. */

ul.environments + table.CV
{
border-right-style: solid;
border-bottom-style: solid;
}
