/* phonology_IE7.css 2010-05-06 */
/* Generic formatting for XHTML files exported from Phonology Assistant. */
/* Here are the exceptions for Internet Explorer 7. */
/* Does not support Internet Explorer 6 and earlier. */

/* Borders ------------------------------------------------------------------ */

/* When environment tabs precede a consonant or vowel chart, */
/* make up for lack of borders for tbody and colgroup. */
ul.environments + table.CV
{
border-right-style: solid;
border-bottom-style: solid;
}

/* Make up for lack of borders for tbody and colgroup. */
table.chart thead tr:first-child th:first-child div.zero
{
margin-right: -1px; /* Negative width of border-right. */
border-right-style: solid;
border-bottom-style: solid;
}

/* Omit the borders because border-color: transparent becomes */
/* the background color of the page instead of the cell. */
/* Without the borders, must increase padding slightly. */
table.features td
{
border-style: none;
padding-top: 0.25em;
padding-bottom: 0.25em;
}

/* Border color ------------------------------------------------------------- */

table.list th.pair,
table.list th.count
{
border-bottom-color: #cfe6cf; /* interactive instead of transparent */
}

table.list .item
{
border-color: #ffffb2; /* significant */
}
