/* phonology.css 2010-05-07 */
/* Generic formatting for XHTML files exported from Phonology Assistant. */

@import url('phonology_CSS3.css'); /* For border-radius and rgba. */

/* Reset default values of Web browsers. ------------------------------------ */

/* For information about resetting default values of Web browsers, */
/* see http://meyerweb.com/eric/tools/css/reset/ */

*
{
font-size: 100%;
margin: 0;
border: 0;
padding: 0;
}

body
{
line-height: 1;
}

table
{
border-spacing: 0; /* Internet Explorer 8 or later. */
/* For Internet Explorer 7 or earlier, table element has cellspacing attribute. */
}

/* For information about organizing style sheets by typography, layout, and color, */
/* see http://www.alistapart.com/articles/progressiveenhancementwithcss */

/* Typography =============================================================== */

table.list th.pair ul.differences li,
body
{
font-family: Verdana, Helvetica, sans-serif;
font-size: 100%;
}

/* Reports ------------------------------------------------------------------ */

/* Each division in a report consists of a heading, optional paragraphs, */
/* one or more tables, and optional child divisions. */

div.report
{
clear: left;
padding-top: 0.5em;
}

div.report:first-child
{
padding-top: 0;
}

/* Headings: the value in em of margin-top or margin-bottom depends on font-size. */

h1 /* Heading 1 */
{
font-size: 200%; /* 32px */
margin-bottom: 0.25em; /* 8px = 0.25 * 200% * 16px */
}

h2 /* Heading 2 */
{
font-size: 150%; /* 24px */
margin-bottom: 0.3333em; /* 8px = 0.3333 * 150% * 16px */
}

h3 /* Heading 3 */
{
font-size: 115%; /* 18px */
margin-bottom: 0.4347em; /* 8px = 0.4347 * 115% * 16px */
padding-left: 0.4347em; /* Equivalent to table cells. */
}

div.report h4 /* Heading 4 */
{
font-size: 100%;
margin-bottom: 0.5em; /* 8px = 0.5 * 100% * 16px */
}

div.report:first-child > h4
{
margin-top: 0;
}

div.report table.list,
div.report table.chart
{
margin-bottom: 0.6em; /* 7px = 0.6 * 100% * 12px */
}

h4 /* When table.details follows. */
{
font-size: 100%;
padding-left: 0.375em; /* Equivalent to 0.5em at font-size: 75% */
padding-bottom: 0.1875em; /* Equivalent to 0.25em at font-size: 75% */
}

/* Paragraphs */

p.BodyText
{
line-height: 1.25; /* 20px */
margin-bottom: 0.5em; /* 8px */
}

/* Tables ------------------------------------------------------------------- */

table.details,
table.features
{
font-size: 75%;
}

th.sortOptions ul,
th
{
font-weight: normal;
}

table.list thead tr th.sortField,
table.list tbody tr .item /* Matched items in search result lists. */
{
font-weight: bold;
}

table.list thead th,
table.list .count,
table.list th.pair ul.differences li,
table.list .small,
table.CV th,
table.feature th:first-child,
table.feature td,
table.distribution td
{
font-size: 75%;
}

/* Layout =================================================================== */

body
{
padding: 1em;
}

table
{
margin-top: 1em;
}

table.features
{
margin-top: 1.3333em; /* 1em / font-size */
margin-left: 1.3333em; /* 1em / font-size */
}

table.details
{
margin-top: 0;
}

table.CV,
table.features
{
float: left;
}

table.feature
{
margin-top: 0.5em;
margin-left: 0;
}

table.feature th,
table.feature td
{
text-align: center;
}

th, td
{
padding-top: 0.1875em;
padding-right: 0.5em;
padding-bottom: 0.1875em;
padding-left: 0.5em;
vertical-align: baseline;
}

ul.environments + table.CV thead th
{
padding-top: 0.5em;
}

table.list tr.heading th
{
padding-top: 0.375em;
}

table.list th.sortOptions ul
{
margin-top: 0.1875em; /* Same as th padding-top. */
margin-left: -0.5em; /* Negative of th padding-left. */
}

table.list th.sortOptions ul li
{
padding-top: 0.25em; /* More than th. */
padding-right: 0.5em; /* Same as th. */
padding-bottom: 0.25em;
padding-left: 0.5em;
}

table.CV thead th
{
vertical-align: bottom; /* Prevent trapped white space if some cells have line breaks. */
}

thead th,
table.list ul.differences li,
table.chart tbody th,
table.features th,
table.features td.name
{
white-space: nowrap;
}

/* Horizontal alignment ----------------------------------------------------- */

table.distribution thead tr.general th.Phonetic,
table.distribution tbody tr.general th.Phonetic,
th
{
text-align: left;
}

table.list .count,
table.CV thead tr:first-child th:first-child,
table.CV tbody th,
table.feature tbody th:first-child,
table.distribution th,
table.distribution td
{
text-align: right;
}

table.list .preceding /* Environment preceding matched items in search result lists. */
{
text-align: right;
padding-right: 0;
}

table.list .item /* Matched items in search result lists. */
{
text-align: center;
padding-left: 0;
padding-right: 0;
}

table.list .following /* Environment following matched items in search result lists. */
{
padding-left: 0;
}

/* Lists of uncertainties or changes in phonetic transcriptions ------------- */

/* If JavaScript is unavailable, hide transcriptions. */
table.list ul.transcription
{
display: none;
}

/* Interactive Web page: phonology.js inserts div.transcription */
/* to wrap the children of any td which contains ul.transcription, */
/* because td itself cannot have relative position. */
table.list.interactive div.transcription
{
position: relative;
}

/* Closed state: a rectangle at the right edge of td. */
table.list.interactive div.transcription ul.transcription
{
display: block;
position: absolute;
z-index: 2;
top: -0.1875em; /* Negative padding-top of td. */
left: 100%;
margin-left: 0.125em; /* Margin plus width equals padding-right of td. */
width: 0.375em;
height: 1.1875em; /* Line-height plus padding-top of td. */
padding-bottom: 0.1875em; /* Same as td; in addition to li. */
list-style: none;
}

/* Open state: the left edge aligns with the next column to the right. */
table.list.interactive div.transcription ul.transcription:hover
{
z-index: 1; /* Do not cover transcriptions in following rows. */
margin-left: 0.5em; /* Same as padding-right of td. */
width: auto;
height: auto;
border-style: solid;
border-width: 1px;
margin-top: -1px; /* Negative of border-width. */
}

table.list ul.transcription li
{
display: none;
}

table.list.interactive ul.transcription:hover li
{
display: block;
white-space: nowrap;
padding-top: 0.1875em; /* Same as td. */
padding-right: 0.5em; /* Same as td. */
padding-bottom: 0.1875em; /* Same as td. */
padding-left: 0.5em; /* Same as td. */
}

/* The first list item covers the closed rectangle to hold the open state. */
table.list.interactive ul.transcription li:first-child
{
position: relative;
left: -0.5em; /* Negative padding-right of td. */
border-left-style: solid;
border-left-width: 0.5em; /* More than width of closed state. */
}

table.list ul.transcription li.change del,
table.list ul.transcription li.change ins
{
text-decoration: none;
}

/* Because Internet Explorer 7 does not support the :before pseudo-element, */
/* phonology.js inserts the content to separate del and ins elements. */
table.list.interactive ul.transcription li.change del + ins:before
{
/* content: " ▸ "; /* U+25B8 black right-pointing small triangle. */
}

/* Minimal pairs and their feature differences ------------------------------ */

table.list th.pair ul
{
list-style: none;
}

table.list th.pair li
{
display: inline;
}

table.list th.pair span
{
padding-left: 0.25em;
padding-right: 0.25em;
}

table.list th.pair ul.differences
{
display: none;
}

table.list.interactive th.pair > ul > li:hover
{
position: relative;
}

table.list.interactive th.pair > ul > li:hover ul.differences
{
display: block;
position: absolute;
left: -1px; /* Negative width of border-left. */
top: 1px; /* Same as width of :hover border-bottom. */
margin-top: 1.5em;
padding-top: 0.25em;
padding-bottom: 0.25em;
padding-left: 0.25em; /* Same as span. */
padding-right: 0.25em;
border-right-style: solid;
border-left-style: solid;
border-bottom-style: solid;
border-width: 1px;
}

table.list.interactive th.pair ul.differences li
{
display: block;
line-height: 1.1666;
}

/* Borders ------------------------------------------------------------------ */

th.sortOptions ul,
colgroup, thead, tbody, /* Row and column groups in consonant or vowel charts. */
th, td
{
border-width: 1px;
}

thead th,
table.distribution.collapsed thead tr.general th
{
border-bottom-style: solid;
}

table.distribution thead tr.general th,
table.chart thead tr:first-child th:first-child /* Internet Explorer 7 or later. */
{
border-bottom-style: none;
}

table.chart tbody tr th,
table.distribution.collapsed tbody tr.general th.Phonetic
{
border-right-style: solid;
}

table.feature tbody tr th.Phonetic,
table.distribution tbody tr.general th.Phonetic
{
border-right-style: none;
}

table.list tr.heading th
{
border-top-style: solid;
}

/* Class selector hides some border rules from Internet Explorer 6 and earlier, */
/* because it ignores border-color: transparent. */

table.list tbody th,
table.list tbody td
{
border-top-style: solid;
border-bottom-style: solid;
}

table.list tbody tr:hover th
{
border-bottom-style: dotted;
}

table.list tbody tr:hover td
{
border-top-style: dotted;
border-bottom-style: dotted;
}

table.list th.sortOptions ul,
table.features td
{
border-style: solid;
}

table.chart
{
border-collapse: collapse; /* For thead, tbody, and colgroup borders. */
}

table.chart thead,
table.chart tbody
{
border-bottom-style: solid; /* Internet Explorer 8 or later. */
}

table.chart colgroup
{
border-right-style: solid; /* Internet Explorer 8 or later; not Opera 10 or earlier. */
}

/* Interactive divisions in reports ----------------------------------------- */
/* To expand or collapse a division in a report, click its heading. */
/* Assume one heading (the first child) per division. */

div.collapsed div, /* Child division. */
div.collapsed p,
div.collapsed table,
div.collapsed ul
{
display: none;
}

/* Interactive sorting in lists --------------------------------------------- */

table.list ins
{
display: none;
text-decoration: none;
}

table.list.interactive th.sortField ins
{
display: inline; /* Direction: up-pointing or down-pointing triangle. */
}

table.list th.sortOptions ul,
table.list ul.sortOrder
{
display: none;
}

table.interactive th.sortOptions.active ul
{
display: block;
position: absolute;
list-style: none;
}

/* Interactive groups in lists ---------------------------------------------- */

.collapsed tr.data
{
display: none;
}

/* Interactive features in consonant or vowel charts  ----------------------- */

table.CV td.Phonetic ul.features
{
display: none;
}

/* Interactive environments in consonant or vowel charts -------------------- */

table.CV ul.environments /* lists in data cells of CV chart. */
{
display: none;
}

ul.environments /* list of tabs between distribution and CV chart */
{
margin-top: 2em;
list-style: none;
/* Float the list to "shrink wrap" it to the size of its floated items. */
/* Also known as "set a float to fix a float" or "float-to-fix".
/* Otherwise, older browsers display a gap between it and the following chart. */
float: left;
}

ul.environments li /* tab corresponds to a colgroup in distribution chart */
{
display: inline;
float: left; /* Eliminate gaps between tabs. */
padding: 0.125em 0.5em 0.25em 0.5em;
border-style: solid;
border-bottom-style: none;
border-width: 1px;
/* For rounded border properties, see the phonology_CSS3.css file. */
}

table.list,
table.chart
{
clear: left; /* it might follow ul.environments or table.features */
}

ul.environments + table.CV
{
margin-top: 0;
border-top-style: solid;
border-left-style: solid;
border-width: 1px;
}

table.features tbody + tbody tr:first-child td
{
border-top-style: solid;
}

/* Collapse or expand tables of features ------------------------------------ */

table.features abbr,
table.features.collapsed span,
table.features.collapsed tbody
{
display: none;
}

table.features.collapsed abbr
{
display: inline;
}

/* Interactive columns in distribution charts ------------------------------- */

table.distribution colgroup.collapsed col.individual,
table.distribution.collapsed colgroup col.individual,
table.distribution abbr,
table.distribution th.reduced > span,
table.distribution.reduced th > span,
table.distribution tbody.collapsed tr.individual,
table.distribution thead tr.individual th.collapsed,
table.distribution tbody tr td.collapsed,
table.distribution.collapsed tr.individual,
table.distribution.collapsed tr th.individual,
table.distribution.collapsed tr td.individual
{
display: none;
}

table.distribution th.reduced > abbr,
table.distribution.reduced th > abbr
{
display: inline;
}

table.chart thead tr:first-child th:first-child
{
vertical-align: bottom;
}

table.chart thead tr:first-child th:first-child > div
{
position: relative;
}

table.chart thead tr:first-child th:first-child div.zero
{
position: absolute;
z-index: 1;
border-top-style: solid;
border-left-style: solid;
border-width: 1px;
/* For rounded border properties, see the phonology_CSS3.css file. */
}

table.CV thead tr:first-child th:first-child div.zero
{
/* th already has font-size: 75% */
right: -0.5em;
bottom: -0.1875em;
padding-top: 0.1875em; /* Same as ordinary th, but less than this th. */
padding-bottom: 0.1875em; /* Same as th. */
padding-left: 0.5em; /* Same as th. */
padding-right: 0.5em;
}

table.distribution thead tr:first-child th:first-child div.zero
{
font-size: 75%;
right: -0.6667em; /* corresponds to 0.5em at 100% */
bottom: -0.25em;
padding-top: 0.25em; /* corresponds to 0.1875em at 100% */
padding-bottom: 0.25em;
padding-left: 0.6667em; /* corresponds to 0.5em at 100% */
padding-right: 0.6667em;
}

/* Color ==================================================================== */

/*     Hex    R   G   B    H    S    V   Description            Meaning       */
/* #000000    0   0   0    0°   0%   0%  black                  text normal   */
/* #404040   64  64  64    0°   0%  25%  gray                   text strong   */
/* #999999  153 153 153    0°   0%  60%  gray-40%               text collapsed */
/* #ffffff  255 255 255    0°   0% 100%  white                  background print */
/* #fffffc  255 255 252   60°   1% 100%  desaturated ivory      background    */

/* #2929cc   41  41 204  240°  80%  80%  blue                   hyperlink hover */

/* #ffff00  255 255   0   60° 100% 100%  yellow                 important     */
/* #ffffb2  255 255 178   60°  30% 100%  desaturated yellow     significant   */
/* #ffffd9  255 255 217   60°  15% 100%  less-saturated yellow  distinguished */
/* #ffe6b2  255 230 178   40°  30% 100%  desaturated orange     caution       */
/* #ffb2b2  255 178 178    0°  30% 100%  desaturated red        error         */

/* #999999  153 153 153    0°   0%  60%  gray-40%               border        */
/* #dddddd  221 221 221    0°   0%  87%  light gray             lighter border */

/* #f8fff8  248 255 248  120°   3% 100%  desaturated green      interactive contrast */
/* #cfe6cf  207 230 207  120°  10%  90%  lightest green         interactive   */
/* #b8d9b8  184 217 184  120°  15%  85%  lighter green          interactive adjacent */
/* #a3cca3  163 204 163  120°  20%  80%  light green            active        */
/* #7db27d  125 178 125  120°  30%  70%  green                  selected      */
/*                                       transparent            inactive      */

/* Color -------------------------------------------------------------------- */

*
{
color: #000000; /* text normal */
}

div.collapsed h1,
div.collapsed h2,
div.collapsed h3,
div.collapsed h4,
table.list tbody.collapsed *
{
color: #999999; /* text collapsed */
}

table.list ul.transcription strong,
table.distribution th.caution strong
{
color: #404040; /* text strong adjusts value to balance bold font weight. */
}

a:active,
a:focus,
a:hover
{
color: #2929cc; /* hyperlink hover */
}

ul.environments.interactive li.Phonetic.selected,
table.CV td.Phonetic.selected span,
table.features td.selected
{
color: #f8fff8; /* interactive contrast */
}

/* Background color --------------------------------------------------------- */

body
{
background-color: #fffffc; /* background, see phonology_print.css */
}

table.details tbody tr.filter strong
{
background-color: #ffff00; /* important */
}

table.list .item,
table.CV td.Phonetic.matched,
table.articulatory td.matched,
table.features td.plus.matched,
table.features td.minus.matched,
table.features tr.univalent td.name.matched,
table.feature td.different, /* for development only */
table.CV.nonZero td.Phonetic,
table.distribution.nonZero td,
table.chart .zero
{
background-color: #ffffb2; /* significant */
}

table.list ul.transcription strong
{
background-color: #ffffd9; /* distinguished */
}

table.chart td,
table.CV.nonZero td.Phonetic.zero,
table.chart.nonZero .zero
{
background-color: #fffffc; /* background, see phonology_print.css */
}

/* Instead of .zero, each cell in a row or column, or both, has .caution */
/* if the search item or environment, or both, contain any literal units */
/* that do not occur in the (filtered) data sources of the project. */
/* Much less likely to occur in generalized distribution charts, */
/* because they automatically display individuals that do occur. */
table.distribution th.caution strong,
table.distribution td.caution
{
background-color: #ffe6b2; /* caution */
}

table.distribution th.error strong,
table.distribution td.error /* Obsolete: these cells will be empty without a class. */
{
background-color: #ffb2b2; /* error */
}

h1.interactive,
h2.interactive,
h3.interactive,
h4.interactive,
table.list.interactive th.group,
table.list.interactive th.count,
table.list.interactive th.pair,
table.list.interactive th.sortable,
table.list.interactive th.sortOptions ul,
table.list.interactive th.sortOptions ul:hover li.initial,
ul.environments.interactive li.Phonetic,
table.CV.interactive td.Phonetic,
table.features.interactive th,
table.articulatory.interactive td,
table.features.interactive td.minus,
table.features.interactive td.plus,
table.features.interactive tr.univalent td.name,
table.distribution.interactive th.interactive,
table.distribution.interactive th.Phonetic
{
background-color: #cfe6cf; /* interactive */
}

/* Class selector hides the following rules, */
/* because Internet Explorer 6 and earlier ignore :hover pseudo-class. */

table[class].list.interactive ul.transcription
{
background-color: #cfe6cf; /* interactive */
}

table.distribution.interactive tr.individual th.Phonetic
{
background-color: #b8d9b8; /* interactive adjacent */
}

/* Pseudo-class :hover in tables: Internet Explorer 7 or later. */

h1.interactive:hover,
h2.interactive:hover,
h3.interactive:hover,
h4.interactive:hover,
table.list.interactive th.group:hover,
table.list.interactive th.count:hover,
table.list.interactive th.pair:hover,
table.list.interactive th.sortable:hover,
table.list.interactive th.sortOptions ul li.initial,
table.list.interactive th.sortOptions ul:hover li:hover,
ul.environments.interactive li.Phonetic:hover,
table.CV.interactive td.Phonetic:hover,
table.features.interactive th:hover,
table.articulatory td.active,
table.features td.plus.active,
table.features td.minus.active,
table.features tr.univalent td.name.active,
table.articulatory.interactive td:hover,
table.features.interactive td.minus:hover,
table.features.interactive td.plus:hover,
table.features.interactive tr.univalent td.name:hover,
table.distribution.interactive th.interactive:hover,
table.distribution.interactive th.Phonetic:hover,
table.distribution.interactive tr.individual th.Phonetic:hover
{
background-color: #a3cca3; /* active */
}

ul.environments.interactive li.Phonetic.selected,
table.CV.interactive td.Phonetic.selected,
table.articulatory td.selected,
table.features td.plus.selected,
table.features td.minus.selected,
table.features tr.univalent td.name.selected
{
background-color: #7db27d; /* selected */
}

table.list.interactive th.pair > ul li:hover span,
table.list.interactive th.pair > ul li:hover ul.differences,
table.list.interactive ul.transcription:hover
{
background-color: #f8fff8; /* interactive contrast */
}

table.CV.inactive td.Phonetic,
table.features.inactive th,
table.articulatory.inactive td,
table.features.inactive td.plus,
table.features.inactive td.minus,
table.features.inactive tr.univalent td.name,
table.articulatory.interactive td.inactive,
table.features.interactive td.plus.inactive,
table.features.interactive td.minus.inactive,
table.features.interactive tr.univalent td.name.inactive
{
background-color: transparent; /* inactive */
}

/* Border color ------------------------------------------------------------- */

table.list tbody tr:hover th,
table.list tbody tr:hover td,
table.list th.sortOptions ul,
table.articulatory.interactive td:hover,
table.features.interactive td.plus:hover,
table.features.interactive td.minus:hover,
table.features.interactive tr.univalent td.name:hover,
th, td /* default color, but not all cells actually have borders. */
{
border-color: #999999; /* border */
}

table.list tbody th,
table.list tbody td,
table.features td
{
border-color: transparent; /* not active */
}

table.features tbody + tbody tr:first-child td,
table.list tr.heading th
{
border-top-color: #999999; /* border */
}

table.distribution tbody tr th
{
border-right-color: #999999; /* border */
}

ul.environments li,
ul.environments + table.CV,
table.chart thead tr:first-child th:first-child div.zero,
colgroup, thead, tbody /* Row and column groups in CV or distribution charts. */
{
border-color: #dddddd; /* lighter border */
}

table.list tr.subheading th
{
border-top-color: #dddddd; /* lighter border */
}

table.list.interactive th.pair ul.differences,
table.list.interactive ul.transcription:hover,
table.list.interactive ul.transcription li:first-child
{
border-color: #a3cca3; /* active */
}
