/* phonology_IE7.css 2012-03-14 */
/* Generic formatting for XHTML files exported from Phonology Assistant. */
/* Here are the exceptions for Internet Explorer 7. */

/* Layout =================================================================== */

/* Sometimes needed for :hover formatting and click across full width. */
/* Not needed in pages containing CV charts, perhaps because they are float? */

div.section h1,
div.section h2,
div.section h3,
div.section h4
{
width: 100%;
}

/* Margins ------------------------------------------------------------------ */

/* Because IE7 collapses margin-bottom of table contained in first div. */

div.stacked div.side_by_side + div.side_by_side
{
margin-top: 1em; /* 16px */
}

/* Collapsible row groups --------------------------------------------------- */

table.collapsed tbody.collapsible tr.uncollapsible,
table.collapsible tbody.collapsed tr.uncollapsible
{
display: block; /* IE7 does not support display: table-row */
}

/* Collapsible column groups ------------------------------------------------ */

table.collapsed_by_display colgroup.collapsible col.uncollapsible,
table.collapsible colgroup.collapsed_by_display col.uncollapsible
{
display: block; /* IE7 does not support display: table-column */
}

/* Borders ------------------------------------------------------------------ */

/* Because IE7 does not support border-top for tbody. */

table.list tr.heading th
{
border-top-style: solid;
border-color: #dddddd; /* lighter border */
}

table.features tbody tr:first-child td.name
{
border-top-style: solid;
border-color: #999999; /* border */
}
