/* phonology_IE6.css 2010-08-23 */
/* Generic formatting for XHTML files exported from Phonology Assistant. */
/* Here are the exceptions for Internet Explorer 6 and earlier. */

/* No interactive behavior -------------------------------------------------- */

/* Do not display elements that people cannot interact with. */

table.features, /* Features tables at the right of CV chart. */
div.collapsed, /* Feature charts following CV chart. */
ul.environments /* Tabs between distribution and CV chart. */
{
display: none;
}

/* Ideally, would not display a CV chart following a distribution chart. */

/* Borders ------------------------------------------------------------------ */

/* Omit the borders because no support for :hover */
/* Without the borders, increase padding slightly. */

table.list tbody th,
table.list tbody td
{
border-style: none;
padding-top: 0.25em;
padding-bottom: 0.25em;
}

/* Border color ------------------------------------------------------------- */

/* Restore the color from phonology.css that phonology_IE7.css overrides? */

table.list tr.heading th
{
border-top-color: #999999; /* border */
}
