<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
          <Directory Id="FontsFolder" SourceName="Fonts">
            <Component Id="DoulosSILR.ttf" Guid="{24FBDE73-44B3-42e1-BE61-0F2783AB5463}" Permanent="yes">
              <File Id="DoulosSILR.ttf" Name="DoulosSILR.ttf" Source="..\DistFiles\DoulosSILR.ttf" TrueType="yes" KeyPath="yes" DiskId="1" />
            </Component>
          </Directory>

          <Directory Id="ProgramFilesFolder">
                <Directory Id="PFSIL" Name="SIL">
                  <Directory Id="APPLICATIONFOLDER" Name="Phonology Assistant">
                    <Component Id="Pa.exe" Guid="{C1BD51CD-92F3-4f83-B5AD-0842C3063985}">
                      <File Id="Pa.exe" Name="Pa.exe"  Source="..\output\release\Pa.exe" />
                      <ProgId Id='Pa.Document' Description='Phonology Assistant project file' Icon='Pa.exe' IconIndex='0'>
                        <Extension Id='pap' ContentType='application/pap'>
                          <Verb Id='open' Command='Open' TargetFile='Pa.exe' Argument='"%1"' />
                        </Extension>
                      </ProgId>
                      <ProgId Id='Pa.Backup' Description='Phonology Assistant backup file' Icon='Pa.exe' IconIndex='0'>
                        <Extension Id='pabackup' ContentType='application/pabackup'>
                          <Verb Id='open' Command='Open' TargetFile='Pa.exe' Argument='"%1"' />
                        </Extension>
                      </ProgId>
                    </Component>
                  </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ApplicationFiles">
          <ComponentRef Id="AddShortcutDir" />
          <ComponentRef Id="SaveLoadLastProject" />
          <ComponentRef Id="DoulosSILR.ttf" />
          <ComponentRef Id="Transforms.zip" />
          <ComponentRef Id="Pa.exe" />
        </ComponentGroup>
    </Fragment>
</Wix>