<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Localizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Localizer.Properties.Settings>
            <setting name="vSplitRatio" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="mainWndSz" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="mainWndLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="lastLoadedProject" serializeAs="String">
                <value />
            </setting>
            <setting name="universalRowResize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hSplitRatio" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="defaultGridRowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colWidth0" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="colWidth1" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="colWidth2" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="colWidth3" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="showCommentPane" serializeAs="String">
                <value>False</value>
            </setting>
        </Localizer.Properties.Settings>
    </userSettings>
</configuration>