<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
			<!--<Directory Id="CommonAppDataFolder">
				<Directory Id="PaCommonAppData" Name="Phonology Assistant">
					<Directory Id="SampleDataDir" Name="Samples">
					</Directory>
				</Directory>
			</Directory>-->

			<Directory Id="FontsFolder" SourceName="Fonts">
				<Component Id="DoulosSILR.ttf" Guid="{24FBDE73-44B3-42e1-BE61-0F2783AB5463}" Permanent="yes">
					<File Id="DoulosSILR.ttf" Name="DoulosSILR.ttf" Source="..\DistFiles\DoulosSILR.ttf" TrueType="yes" KeyPath="yes" DiskId="1" />
				</Component>
			</Directory>
        
      <Directory Id="ProgramFilesFolder" Name="PFiles">
				<!--<Directory Id="ProgramDir" Name="Phonology Assistant">-->
				<Directory Id="APPLICATIONFOLDER" Name="Phonology Assistant 3.x">
					<Component Id="Pa.exe" Guid="{C1BD51CD-92F3-4f83-B5AD-0842C3063985}">
						<File Id="Pa.exe" Name="Pa.exe"  Source="..\output\release\Pa.exe" />
					</Component>
					<Component Id="DisablePASplashScreen.exe" Guid="{0EE47CCE-87AA-44CE-BBB2-1840A5B4ACCF}">
						<File Id="DisablePASplashScreen.exe" KeyPath="yes" Source="..\output\release\DisablePASplashScreen.exe" />
					</Component>
					<Component Id="DisablePASplashScreen.pdb" Guid="{406FA8A0-43F4-4141-9DEA-AFE0E3DD170D}">
						<File Id="DisablePASplashScreen.pdb" KeyPath="yes" Source="..\output\release\DisablePASplashScreen.pdb" />
					</Component>
					<Component Id="ICSharpCode.SharpZipLib.dll" Guid="{BE824166-9FDB-45F6-91EF-80A6C391EFEE}">
						<File Id="ICSharpCode.SharpZipLib.dll" KeyPath="yes" Source="..\output\release\ICSharpCode.SharpZipLib.dll" />
					</Component>
					<Component Id="LocalizationManager.dll" Guid="{B537CFD9-D01A-40C4-A5B2-D0D65E12D765}">
						<File Id="LocalizationManager.dll" KeyPath="yes" Source="..\output\release\LocalizationManager.dll" />
					</Component>
					<Component Id="PaToFdoInterfaces.dll" Guid="{4250985D-D1DF-4E60-9666-8DB690202BDF}">
						<File Id="PaToFdoInterfaces.dll" KeyPath="yes" Source="..\output\release\PaToFdoInterfaces.dll" />
					</Component>
					<Component Id="Palaso.dll" Guid="{7E3A288A-C1EA-4A99-9F13-FB9BA2C4966A}">
						<File Id="Palaso.dll" KeyPath="yes" Source="..\output\release\Palaso.dll" />
					</Component>
					<Component Id="Pa.exe.config" Guid="{A77F3DC7-3E9E-40FD-9572-384BA8170609}">
						<File Id="Pa.exe.config" KeyPath="yes" Source="..\output\release\Pa.exe.config" />
					</Component>
					<Component Id="Pa.pdb" Guid="{8C44B41B-2937-4A69-99FC-602DC89949D8}">
						<File Id="Pa.pdb" KeyPath="yes" Source="..\output\release\Pa.pdb" />
					</Component>
<!--
          <Component Id="PCIEditor.exe" Guid="{40801E28-D701-4857-873A-F045009DFBBC}">
						<File Id="PCIEditor.exe" KeyPath="yes" Source="..\output\release\PCIEditor.exe" />
					</Component>
					<Component Id="PCIEditor.pdb" Guid="{0FA906C6-B120-4295-9F43-9005B34AFC35}">
						<File Id="PCIEditor.pdb" KeyPath="yes" Source="..\output\release\PCIEditor.pdb" />
					</Component>
-->
					<Component Id="Phonology_Assistant_Help.chm" Guid="{06DFF774-C027-4CB5-8821-0B5F2C6FD88B}">
						<File Id="Phonology_Assistant_Help.chm" KeyPath="yes" Source="..\distfiles\Phonology_Assistant_Help.chm" />
					</Component>
          <Component Id="PaCompiledTransforms.dll" Guid="{92098C72-A32E-46E1-B95D-AE402120294C}">
            <File Id="PaCompiledTransforms.dll" KeyPath="yes" Source="..\output\release\PaCompiledTransforms.dll" />
          </Component>
          <Component Id="SilTools.dll" Guid="{A130DD5C-A787-4085-B2B3-5C84E67A20B1}">
						<File Id="SilTools.dll" KeyPath="yes" Source="..\output\release\SilTools.dll" />
					</Component>
					<Component Id="SilTools.pdb" Guid="{C85FA3F0-F525-4151-9D1A-396410501084}">
						<File Id="SilTools.pdb" KeyPath="yes" Source="..\output\release\SilTools.pdb" />
					</Component>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>