<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="Configuration" Name="Configuration">
                <Component Id="CanIL_LING330.DistinctiveFeatures.xml" Guid="{8D66F666-C38B-4565-9030-19DBCAB918C2}">
                    <File Id="CanIL_LING330.DistinctiveFeatures.xml" KeyPath="yes" Source="$(var.Configuration_Location)\CanIL LING330.DistinctiveFeatures.xml" />
                </Component>
                <Component Id="CVChartsTMDefinition.xml" Guid="{81B089C3-44D0-4809-9A0C-687F11B627A5}">
                    <File Id="CVChartsTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\CVChartsTMDefinition.xml" />
                </Component>
                <Component Id="DataCorpusTMDefinition.xml" Guid="{8C2C1B5E-2130-4F02-91AE-48F21047FEA7}">
                    <File Id="DataCorpusTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DataCorpusTMDefinition.xml" />
                </Component>
                <Component Id="default.DiagramSagittal.svg" Guid="{AFD6E72D-79D7-4E6A-A05E-CC28FF66D202}">
                    <File Id="default.DiagramSagittal.svg" KeyPath="yes" Source="$(var.Configuration_Location)\default.DiagramSagittal.svg" />
                </Component>
                <Component Id="default.DistinctiveFeatures.xml" Guid="{9E7CF8C8-577D-4733-A61B-BAC18AAAB8BB}">
                    <File Id="default.DistinctiveFeatures.xml" KeyPath="yes" Source="$(var.Configuration_Location)\default.DistinctiveFeatures.xml" />
                </Component>
                <Component Id="DefaultDistributionCharts.xml" Guid="{720B7F10-5EF7-4751-BC01-EBCEF569E2A8}">
                    <File Id="DefaultDistributionCharts.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultDistributionCharts.xml" />
                </Component>
                <Component Id="DefaultFields.xml" Guid="{6BFC9E54-7338-4C6D-AA36-1F42AB12A939}">
                    <File Id="DefaultFields.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultFields.xml" />
                </Component>
                <Component Id="DefaultSearchClasses.xml" Guid="{95D36FBB-6234-491F-B443-68809E18F18B}">
                    <File Id="DefaultSearchClasses.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultSearchClasses.xml" />
                </Component>
                <Component Id="DefaultSearchQueries.xml" Guid="{72F7C59F-30FB-429A-9EA5-F905F0505375}">
                    <File Id="DefaultSearchQueries.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultSearchQueries.xml" />
                </Component>
                <Component Id="DistributionChartsTMDefinition.xml" Guid="{DD04E0ED-2BA0-4509-8495-ED6A890D5C55}">
                    <File Id="DistributionChartsTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DistributionChartsTMDefinition.xml" />
                </Component>
                <Component Id="FwDBAccessInfo.xml" Guid="{72642880-FA86-4E9C-926D-BFBF19EF2C4B}">
                    <File Id="FwDBAccessInfo.xml" KeyPath="yes" Source="$(var.Configuration_Location)\FwDBAccessInfo.xml" />
                </Component>
                <Component Id="FwSQLQueries.xml" Guid="{B4F8ADD4-4163-437E-8CBE-F040169602F9}">
                    <File Id="FwSQLQueries.xml" KeyPath="yes" Source="$(var.Configuration_Location)\FwSQLQueries.xml" />
                </Component>
                <Component Id="FwSQLQueriesShortNames.xml" Guid="{E0DA2F30-89CA-4419-9E68-3B2C2C588A29}">
                    <File Id="FwSQLQueriesShortNames.xml" KeyPath="yes" Source="$(var.Configuration_Location)\FwSQLQueriesShortNames.xml" />
                </Component>
                <Component Id="ISO_639.xml" Guid="{BF6F3A32-9AB4-480F-9C11-6F6E6D71FBE7}">
                    <File Id="ISO_639.xml" KeyPath="yes" Source="$(var.Configuration_Location)\ISO_639.xml" />
                </Component>
                <Component Id="NormalizationExceptions.xml" Guid="{52DB5F32-18B6-4897-BCE4-274BD2678296}">
                    <File Id="NormalizationExceptions.xml" KeyPath="yes" Source="$(var.Configuration_Location)\NormalizationExceptions.xml" />
                </Component>
                <Component Id="PaTMDefinition.xml" Guid="{4A29DC3C-DB30-4CE2-9BEE-796753532D2D}">
                    <File Id="PaTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\PaTMDefinition.xml" />
                </Component>
                <Component Id="PhoneticInventory.xml" Guid="{63D0F7DE-83CB-4AA4-880C-4A7958A675FF}">
                    <File Id="PhoneticInventory.xml" KeyPath="yes" Source="$(var.Configuration_Location)\PhoneticInventory.xml" />
                </Component>
                <Component Id="SearchTMDefinition.xml" Guid="{5252BA15-D1B3-4E13-83A1-EC55ED0F44D2}">
                    <File Id="SearchTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\SearchTMDefinition.xml" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ConfigurationFiles">
            <ComponentRef Id="CanIL_LING330.DistinctiveFeatures.xml" />
            <ComponentRef Id="CVChartsTMDefinition.xml" />
            <ComponentRef Id="DataCorpusTMDefinition.xml" />
            <ComponentRef Id="default.DiagramSagittal.svg" />
            <ComponentRef Id="default.DistinctiveFeatures.xml" />
            <ComponentRef Id="DefaultDistributionCharts.xml" />
            <ComponentRef Id="DefaultFields.xml" />
            <ComponentRef Id="DefaultSearchClasses.xml" />
            <ComponentRef Id="DefaultSearchQueries.xml" />
            <ComponentRef Id="DistributionChartsTMDefinition.xml" />
            <ComponentRef Id="FwDBAccessInfo.xml" />
            <ComponentRef Id="FwSQLQueries.xml" />
            <ComponentRef Id="FwSQLQueriesShortNames.xml" />
            <ComponentRef Id="ISO_639.xml" />
            <ComponentRef Id="NormalizationExceptions.xml" />
            <ComponentRef Id="PaTMDefinition.xml" />
            <ComponentRef Id="PhoneticInventory.xml" />
            <ComponentRef Id="SearchTMDefinition.xml" />
        </ComponentGroup>
    </Fragment>
</Wix>