<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="Configuration" Name="Configuration">
                <Component Id="CanIL_LING330.DistinctiveFeatures.xml" Guid="{8C5AA07A-1C62-4EE3-80F0-059F51B40DB8}">
                    <File Id="CanIL_LING330.DistinctiveFeatures.xml" KeyPath="yes" Source="$(var.Configuration_Location)\CanIL LING330.DistinctiveFeatures.xml" />
                </Component>
                <Component Id="CVChartsTMDefinition.xml" Guid="{78FD023D-9DC4-481F-9D2A-9676AB49BC74}">
                    <File Id="CVChartsTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\CVChartsTMDefinition.xml" />
                </Component>
                <Component Id="DataCorpusTMDefinition.xml" Guid="{4CD6F114-9977-4954-BC98-14DD76559F22}">
                    <File Id="DataCorpusTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DataCorpusTMDefinition.xml" />
                </Component>
                <Component Id="default.DiagramSagittal.svg" Guid="{7FEAF466-5CFC-4654-AA36-FF0FC810FD63}">
                    <File Id="default.DiagramSagittal.svg" KeyPath="yes" Source="$(var.Configuration_Location)\default.DiagramSagittal.svg" />
                </Component>
                <Component Id="default.DistinctiveFeatures.xml" Guid="{12EBACB5-200F-4E2B-9565-4AA57A3C6E3D}">
                    <File Id="default.DistinctiveFeatures.xml" KeyPath="yes" Source="$(var.Configuration_Location)\default.DistinctiveFeatures.xml" />
                </Component>
                <Component Id="DefaultDistributionCharts.xml" Guid="{87EF2F6E-CF3B-4C6C-8ACF-F977AC98F792}">
                    <File Id="DefaultDistributionCharts.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultDistributionCharts.xml" />
                </Component>
                <Component Id="DefaultFields.xml" Guid="{AF2D725B-4D64-489C-8B27-BB2987F7F613}">
                    <File Id="DefaultFields.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultFields.xml" />
                </Component>
                <Component Id="DefaultSearchClasses.xml" Guid="{E140DF68-455A-4941-A08E-93DE8BA65607}">
                    <File Id="DefaultSearchClasses.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultSearchClasses.xml" />
                </Component>
                <Component Id="DefaultSearchQueries.xml" Guid="{6AF4DE6A-173D-4F39-A3E4-0463963883E1}">
                    <File Id="DefaultSearchQueries.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultSearchQueries.xml" />
                </Component>
                <Component Id="DistributionChartsTMDefinition.xml" Guid="{99AB2307-73A5-4A61-B452-493ED1609AD9}">
                    <File Id="DistributionChartsTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DistributionChartsTMDefinition.xml" />
                </Component>
                <Component Id="FwDBAccessInfo.xml" Guid="{9552564A-01FA-4C14-90B2-32F9385FBD63}">
                    <File Id="FwDBAccessInfo.xml" KeyPath="yes" Source="$(var.Configuration_Location)\FwDBAccessInfo.xml" />
                </Component>
                <Component Id="FwSQLQueries.xml" Guid="{B20001D6-8AE9-4C60-8BC9-E00B52D6AD32}">
                    <File Id="FwSQLQueries.xml" KeyPath="yes" Source="$(var.Configuration_Location)\FwSQLQueries.xml" />
                </Component>
                <Component Id="FwSQLQueriesShortNames.xml" Guid="{F0BE828F-0A7B-4211-A2E7-0A2CF3D0A6A4}">
                    <File Id="FwSQLQueriesShortNames.xml" KeyPath="yes" Source="$(var.Configuration_Location)\FwSQLQueriesShortNames.xml" />
                </Component>
                <Component Id="ISO_639.xml" Guid="{A96FED5C-C5FE-4F53-A708-8D3EE4BEA682}">
                    <File Id="ISO_639.xml" KeyPath="yes" Source="$(var.Configuration_Location)\ISO_639.xml" />
                </Component>
                <Component Id="NormalizationExceptions.xml" Guid="{B182C787-C383-45F3-ABD1-A0F8F89AB4A6}">
                    <File Id="NormalizationExceptions.xml" KeyPath="yes" Source="$(var.Configuration_Location)\NormalizationExceptions.xml" />
                </Component>
                <Component Id="PaTMDefinition.xml" Guid="{7A3C41F3-868D-4D4A-A214-F15A43B51AF3}">
                    <File Id="PaTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\PaTMDefinition.xml" />
                </Component>
                <Component Id="PhoneticInventory.xml" Guid="{36CC2557-1A7C-4114-B022-2A3225A0D38D}">
                    <File Id="PhoneticInventory.xml" KeyPath="yes" Source="$(var.Configuration_Location)\PhoneticInventory.xml" />
                </Component>
                <Component Id="SearchTMDefinition.xml" Guid="{3C1B89B8-DE5A-4ACD-86E2-4AA453E0023E}">
                    <File Id="SearchTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\SearchTMDefinition.xml" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ConfigurationFiles">
            <ComponentRef Id="CanIL_LING330.DistinctiveFeatures.xml" />
            <ComponentRef Id="CVChartsTMDefinition.xml" />
            <ComponentRef Id="DataCorpusTMDefinition.xml" />
            <ComponentRef Id="default.DiagramSagittal.svg" />
            <ComponentRef Id="default.DistinctiveFeatures.xml" />
            <ComponentRef Id="DefaultDistributionCharts.xml" />
            <ComponentRef Id="DefaultFields.xml" />
            <ComponentRef Id="DefaultSearchClasses.xml" />
            <ComponentRef Id="DefaultSearchQueries.xml" />
            <ComponentRef Id="DistributionChartsTMDefinition.xml" />
            <ComponentRef Id="FwDBAccessInfo.xml" />
            <ComponentRef Id="FwSQLQueries.xml" />
            <ComponentRef Id="FwSQLQueriesShortNames.xml" />
            <ComponentRef Id="ISO_639.xml" />
            <ComponentRef Id="NormalizationExceptions.xml" />
            <ComponentRef Id="PaTMDefinition.xml" />
            <ComponentRef Id="PhoneticInventory.xml" />
            <ComponentRef Id="SearchTMDefinition.xml" />
        </ComponentGroup>
    </Fragment>
</Wix>