<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="Processing" Name="Processing">
                <Component Id="Transforms.zip" Guid="{B05718B7-29EF-4F8A-A6E2-102CFDDCD6DE}">
                  <File Id="Transforms.zip" KeyPath="yes" Source="..\output\release\Transforms.zip" />
                </Component>
                <Component Id="jquery_ui.js" Guid="{99A593CD-1130-4EF3-AE45-577DF4008835}">
                    <File Id="jquery_ui.js" KeyPath="yes" Source="$(var.Processing_Location)\jquery-ui.js" />
                </Component>
                <Component Id="jquery.js" Guid="{AD78D831-546A-44F3-A78B-5CBE55E1C601}">
                    <File Id="jquery.js" KeyPath="yes" Source="$(var.Processing_Location)\jquery.js" />
                </Component>
                <Component Id="phonology.css" Guid="{386EE84F-3EF0-4000-9D5A-2F9E6F1DFC29}">
                    <File Id="phonology.css" KeyPath="yes" Source="$(var.Processing_Location)\phonology.css" />
                </Component>
                <Component Id="phonology.js" Guid="{5E0EEB40-74C9-46F7-ACD1-A6CA8F4B0B32}">
                    <File Id="phonology.js" KeyPath="yes" Source="$(var.Processing_Location)\phonology.js" />
                </Component>
				<Component Id="phonquery.js" Guid="{2D34F960-7E88-4FF3-A2BE-CA6BBA195707}">
					<File Id="phonquery.js" KeyPath="yes" Source="$(var.Processing_Location)\phonquery.js" />
				</Component>
				<Component Id="phonology_CSS3.css" Guid="{46395DA3-14A6-431B-B5E1-815E30054968}">
                    <File Id="phonology_CSS3.css" KeyPath="yes" Source="$(var.Processing_Location)\phonology_CSS3.css" />
                </Component>
                <Component Id="phonology_IE6.css" Guid="{D7E33179-CF59-42CF-802A-D9C920819106}">
                    <File Id="phonology_IE6.css" KeyPath="yes" Source="$(var.Processing_Location)\phonology_IE6.css" />
                </Component>
                <Component Id="phonology_IE7.css" Guid="{EA35AA6E-9085-46FA-A096-3D750961C59A}">
                    <File Id="phonology_IE7.css" KeyPath="yes" Source="$(var.Processing_Location)\phonology_IE7.css" />
                </Component>
                <Component Id="phonology_IE8.css" Guid="{2FD9D43F-9D66-47C2-A468-C1763A69CB91}">
                    <File Id="phonology_IE8.css" KeyPath="yes" Source="$(var.Processing_Location)\phonology_IE8.css" />
                </Component>
                <Component Id="phonology_print.css" Guid="{0070740B-2BC5-46AA-B452-F3CDDEC9C4F2}">
                    <File Id="phonology_print.css" KeyPath="yes" Source="$(var.Processing_Location)\phonology_print.css" />
                </Component>
                <Component Id="Processing.xml" Guid="{B6C8A405-99D6-4AD8-A323-D701D62FB6F1}">
                    <File Id="Processing.xml" KeyPath="yes" Source="$(var.Processing_Location)\Processing.xml" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProcessingFiles">
            <ComponentRef Id="jquery_ui.js" />
            <ComponentRef Id="jquery.js" />
            <ComponentRef Id="phonology.css" />
            <ComponentRef Id="phonology.js" />
			<ComponentRef Id="phonquery.js" />
			<ComponentRef Id="phonology_CSS3.css" />
            <ComponentRef Id="phonology_IE6.css" />
            <ComponentRef Id="phonology_IE7.css" />
            <ComponentRef Id="phonology_IE8.css" />
            <ComponentRef Id="phonology_print.css" />
            <ComponentRef Id="Processing.xml" />
        </ComponentGroup>
    </Fragment>
</Wix>