<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="Configuration" Name="Configuration">
                <Component Id="CanIL_LING330.DistinctiveFeatures.xml" Guid="{567682BB-A292-4654-962B-28BADB660418}">
                    <File Id="CanIL_LING330.DistinctiveFeatures.xml" KeyPath="yes" Source="$(var.Configuration_Location)\CanIL LING330.DistinctiveFeatures.xml" />
                </Component>
                <Component Id="CVChartsTMDefinition.xml" Guid="{1F1EC4D8-2B62-4A27-9684-92AF4EDF43BB}">
                    <File Id="CVChartsTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\CVChartsTMDefinition.xml" />
                </Component>
                <Component Id="DataCorpusTMDefinition.xml" Guid="{7DE5669A-483A-4488-9473-014ADE6A482D}">
                    <File Id="DataCorpusTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DataCorpusTMDefinition.xml" />
                </Component>
                <Component Id="default.DistinctiveFeatures.xml" Guid="{F4D46887-7478-4453-88C0-D12875F94925}">
                    <File Id="default.DistinctiveFeatures.xml" KeyPath="yes" Source="$(var.Configuration_Location)\default.DistinctiveFeatures.xml" />
                </Component>
                <Component Id="DefaultDistributionCharts.xml" Guid="{78E41D0E-C103-481C-825B-61486F91A773}">
                    <File Id="DefaultDistributionCharts.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultDistributionCharts.xml" />
                </Component>
                <Component Id="DefaultFields.xml" Guid="{2375D0B1-4D6E-4D2B-839B-0CEAFFDF2379}">
                    <File Id="DefaultFields.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultFields.xml" />
                </Component>
                <Component Id="DefaultSearchClasses.xml" Guid="{C43B78D4-0AAA-4AAA-BBC4-10D1F8993AF6}">
                    <File Id="DefaultSearchClasses.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultSearchClasses.xml" />
                </Component>
                <Component Id="DefaultSearchQueries.xml" Guid="{5A89615B-D677-4D31-9FC6-1994E7488B7D}">
                    <File Id="DefaultSearchQueries.xml" KeyPath="yes" Source="$(var.Configuration_Location)\DefaultSearchQueries.xml" />
                </Component>
                <Component Id="FwDBAccessInfo.xml" Guid="{1FF66DDB-710C-44CD-9801-D8DD42E676BB}">
                    <File Id="FwDBAccessInfo.xml" KeyPath="yes" Source="$(var.Configuration_Location)\FwDBAccessInfo.xml" />
                </Component>
                <Component Id="FwSQLQueries.xml" Guid="{D46C9F4C-86BF-4D84-9B16-F5DA3368D0B6}">
                    <File Id="FwSQLQueries.xml" KeyPath="yes" Source="$(var.Configuration_Location)\FwSQLQueries.xml" />
                </Component>
                <Component Id="FwSQLQueriesShortNames.xml" Guid="{2B443546-E0D5-496B-BEFB-781B5DA6B70C}">
                    <File Id="FwSQLQueriesShortNames.xml" KeyPath="yes" Source="$(var.Configuration_Location)\FwSQLQueriesShortNames.xml" />
                </Component>
                <Component Id="ISO_639.xml" Guid="{97D37893-6AF7-4D61-9A7F-2929B2FC9D65}">
                    <File Id="ISO_639.xml" KeyPath="yes" Source="$(var.Configuration_Location)\ISO_639.xml" />
                </Component>
                <Component Id="NormalizationExceptions.xml" Guid="{8A6D3290-2B69-41F0-9661-18E0DB37D9B2}">
                    <File Id="NormalizationExceptions.xml" KeyPath="yes" Source="$(var.Configuration_Location)\NormalizationExceptions.xml" />
                </Component>
                <Component Id="Pa.tmx" Guid="{8AA275CF-9AC0-4808-87E9-A6526EA7EF8A}">
                    <File Id="Pa.tmx" KeyPath="yes" Source="$(var.Configuration_Location)\Pa.tmx" />
                </Component>
                <Component Id="PaTMDefinition.xml" Guid="{E992C23F-98AA-40CE-AC45-6417D0AA2F15}">
                    <File Id="PaTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\PaTMDefinition.xml" />
                </Component>
                <Component Id="PhoneticInventory.xml" Guid="{F1BA93C3-B206-41FF-9BFF-D4522057D71C}">
                    <File Id="PhoneticInventory.xml" KeyPath="yes" Source="$(var.Configuration_Location)\PhoneticInventory.xml" />
                </Component>
                <Component Id="SearchTMDefinition.xml" Guid="{3B9DC9D6-4369-4DCC-B458-0C0B0D7BE1A9}">
                    <File Id="SearchTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\SearchTMDefinition.xml" />
                </Component>
                <Component Id="XYChartsTMDefinition.xml" Guid="{790F088A-01A4-4236-BEAC-5EF4FCE025BC}">
                    <File Id="XYChartsTMDefinition.xml" KeyPath="yes" Source="$(var.Configuration_Location)\XYChartsTMDefinition.xml" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ConfigurationFiles">
            <ComponentRef Id="CanIL_LING330.DistinctiveFeatures.xml" />
            <ComponentRef Id="CVChartsTMDefinition.xml" />
            <ComponentRef Id="DataCorpusTMDefinition.xml" />
            <ComponentRef Id="default.DistinctiveFeatures.xml" />
            <ComponentRef Id="DefaultDistributionCharts.xml" />
            <ComponentRef Id="DefaultFields.xml" />
            <ComponentRef Id="DefaultSearchClasses.xml" />
            <ComponentRef Id="DefaultSearchQueries.xml" />
            <ComponentRef Id="FwDBAccessInfo.xml" />
            <ComponentRef Id="FwSQLQueries.xml" />
            <ComponentRef Id="FwSQLQueriesShortNames.xml" />
            <ComponentRef Id="ISO_639.xml" />
            <ComponentRef Id="NormalizationExceptions.xml" />
            <ComponentRef Id="Pa.tmx" />
            <ComponentRef Id="PaTMDefinition.xml" />
            <ComponentRef Id="PhoneticInventory.xml" />
            <ComponentRef Id="SearchTMDefinition.xml" />
            <ComponentRef Id="XYChartsTMDefinition.xml" />
        </ComponentGroup>
    </Fragment>
</Wix>